#navbardiv{
    background-color: rgba(53, 53, 53, 0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbarbutton{
    color: white;
    font-size: 20px;
    font-weight: bold;
    background: none;
    border: 0px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-shadow: 2px 2px 4px #ffffff;
}
#image{
    height: 300px;
    width: 450px;
}
.offcanvas-content{
    display: block;
    justify-content: center;
}
#navbardiv:hover{
    background-color: rgba(255, 255, 255, 0.785);
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    .navbarbutton{
        color: black;
        text-shadow: 2px 2px 4px #000000;
    }
}
.Product-presentation-container{
    width: 65%;
    display: block;
    margin: 50px auto;
}
.Product-presentation-line{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.Product-name{
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}
.footer{
    background-color: #24292b;
    padding: 10px;
}
.footerf{
    color: grey;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.bebas-neue-regular{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-shadow: 1px 1px 3px #000000;
}
.bebas-neue-regular-new{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-shadow: 3px 3px 10px #006c71;
    color: #000000;
}
#new-arrivals{
    width: 25rem; box-shadow: 0 0px 8px 0 rgba(0, 123, 117, 0.2), 0 4px 20px 0 rgba(0, 123, 132, 0.19); border-color: rgba(0, 123, 132, 0.19);
}
#new-arrivals:hover{
    background-color: rgba(245, 245, 245, 0.632);
}
#product{
    width: 18rem; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.1);
}
#product:hover{
    background-color: rgba(245, 245, 245, 0.632);
}